{{ $tools := where site.Pages "Params.tool_slug" "!=" nil }}
{{ $related := slice }}
{{ with .Params.tool_slug }}
  {{ $currentCat := index site.Data.tool_categories . }}
  {{ range $tools }}
    {{ if and (ne .Permalink $.Permalink) (eq (index site.Data.tool_categories .Params.tool_slug) $currentCat) }}
      {{ $related = $related | append . }}
    {{ end }}
  {{ end }}
  {{ if lt (len $related) 6 }}
    {{ range $tools }}
      {{ if and (ne .Permalink $.Permalink) (ne (index site.Data.tool_categories .Params.tool_slug) $currentCat) (lt (len $related) 6) }}
        {{ $related = $related | append . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $related = $tools | first 6 }}
{{ end }}
{{ if gt (len $related) 0 }}
<section class="related-tools">
  <h2>More Free Tools</h2>
  <div class="tools-grid">
    {{ range $related }}
    <a href="{{ .RelPermalink }}" class="tool-card">
      <div class="tool-card-icon">{{ with .Params.icon }}{{ . | safeHTML }}{{ else }}&#x1F9F0;{{ end }}</div>
      <h3>{{ index (split .Title " - ") 0 }}</h3>
      <p>{{ .Description }}</p>
    </a>
    {{ end }}
  </div>
</section>
{{ end }}